<%= render 'layouts/navbar' %>
<div class="container">
  Please visit the URL of your dealership and request access. If you are not sure what the correct URL is, please contact the individual who asked you to create an account.
</div>