.sidebar-menu{
    min-height:650px !important;
}

.btn-login{
  background-color: transparent;
  color: lightgray;
}

.login-description{
  color: white;
}

.alert {
  color: white;
}

.alert-alert {
  color:white;
}

.login-container{
  height: 800px !important;
}

.login-content h2{
  display: none;
}

.login-content ul{
  list-style: none;
}

.dash-car{
  height: 115px !important;
}

.num{
  size: 10px !important;
}

.vin-label{
  text-align: right;
  padding-top: 10px;
}
.search-result{
  padding-bottom: 20px !important;
  margin-bottom: 20px !important;
}

.result_type{
  color: #d35400;
}