.sidebar-menu{
    min-height:650px !important;
}

.btn-login{
  background-color: transparent;
  color: lightgray;
}

.login-description{
  color: white;
}

.alert {
  color: white;
}

.alert-alert {
  color:white;
}

.login-container{
  height: 800px !important;
}

.login-content h2{
  display: none;
}

.login-content ul{
  list-style: none;
}

.dash-car{
  height: 115px !important;
}

.num{
  size: 10px !important;
}

.vin-label{
  text-align: right;
  padding-top: 10px;
}
.search-result{
  padding-bottom: 20px !important;
  margin-bottom: 20px !important;
}

.result_type{
  color: #d35400;
}

.slider-container{
  height: 400px !important;
}

.testimonials-container{
  height: 200px !important;
}

body {
  background-color: #f5f5f5;
}
.flat .plan {
  border-radius: 6px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #fff;
  text-align: center;
}
.flat .plan li {
  padding: 10px 15px;
  color: #ccc;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  border-radius: 6px 6px 0 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #e74c3c;
  margin-bottom: 30px;
  border-top: 0;
}
.flat .plan li > strong {
  color: #e74c3c;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
  background: #000;
}
.flat .plan.featured:hover li.plan-name {
  background: #c0392b;
}
.flat .plan:hover li.plan-name {
  background: #000;
}
#footer {
  margin-top: 100px;
  padding-bottom: 30px;
}

p, h1, h2, h3, h4, h5, h6{
  color: black !important ;
}

.error_messages{
  color: red !important;
}

.form-control {
  border: 1px solid #bdc3c7 !important;
}

.signin-form {
  border: 0px !important;
}

.tile-stats h2{
  color: white !important;
}
.tile-stats h3{
  color: white !important;
}
.tile-stats p{
  color: white !important;
}

th, td, .col-md-8, .profile-name, .col-sm-4{
  color: black !important;
}

.normal-table-vehicle{
  font-weight: normal !important;
}

.sidebar_logo_text{
  color: white !important;
  font-size: 24px;
}

.login_logo_text{
  color: white !important;
  font-size: 36px !important;
}

.logo{
  margin-bottom: -70px !important;
  margin-top: 20px !important;
}

.light_logo_sidebar{
  font-weight: lighter;
}
.bold_logo_sidebar{
  font-weight: bolder;
}